splash-screen {
  color: #2ae7e7;
  background-color: #201A1A;
}

back-ground {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -100;
}

back-ground canvas {
  color: #2ae7e7;
  opacity: 0.05;
  width: 100%;
  height: 100%;
  z-index: -100;
}

nav-bar .menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 4rem;
  background-color: #201A1A;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 100;
}

nav-bar .menu.open {
  background-color: transparent;
}

nav-bar .menu .name.open {
  visibility: hidden;
}

nav-bar .menu .name a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2ae7e7;
}

nav-bar .menu h2 {
  color: #2ae7e7;
  font-size: calc(0.2vw + 16.5px);
  margin-left: 2.5vw;
}

nav-bar .menu h2:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

nav-bar .menu svg {
  margin-left: 2.5vw;
  height: calc(2vw + 20px);
  width: auto;
  border: none;
  max-height: 80%;
  min-height: 50%;
  fill: #2ae7e7;
}

nav-bar .menu svg:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

nav-bar .menu-btn {
  margin-right: 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 100%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 50;
}

nav-bar .menu-btn:hover {
  -webkit-transform: scale(1.1, 1);
          transform: scale(1.1, 1);
}

nav-bar .menu-btn__burger {
  width: 100%;
  height: 2.5px;
  background: #2ae7e7;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav-bar .menu-btn__burger::before, nav-bar .menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2.5px;
  background: #2ae7e7;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav-bar .menu-btn__burger::before {
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
}

nav-bar .menu-btn__burger::after {
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
}

nav-bar .menu-btn.open .menu-btn__burger {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

nav-bar .menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #201A1A;
}

nav-bar .menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #201A1A;
}

nav-bar nav {
  position: fixed;
  height: 100%;
  width: 0px;
  top: 0px;
  background-color: #2ae7e7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav-bar nav ul {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  height: 100vh;
  width: 50%;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav-bar nav li {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

nav-bar nav li:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: 7px solid #db8f71;
}

nav-bar nav li a {
  display: block;
  background-color: inherit;
  color: #201A1A;
  font-size: calc(.5vw + 32px);
  width: 100%;
}

nav-bar nav.open {
  height: 100vh;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

nav-bar nav.open ul {
  visibility: visible;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

footer-comp footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 0;
  width: 100%;
  bottom: 0;
  height: 4rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2ae7e7;
}

footer-comp footer ul li {
  list-style: none;
  display: inline;
  font-size: calc(0.2vw + 16.5px);
}

footer-comp footer ul li a {
  margin: 0 1.1vw;
  color: #201A1A;
  text-decoration: none;
}

footer-comp footer ul li a:hover {
  padding-bottom: 0.7rem;
  -webkit-box-shadow: inset 0 -0.3rem 0 0 #db8f71;
          box-shadow: inset 0 -0.3rem 0 0 #db8f71;
}

footer-comp footer .social-row {
  font-size: calc(0.2vw + 16.5px);
}

footer-comp footer .social-row li a {
  margin: 0 1.1vw;
}

section.resume {
  width: 100%;
}

section.resume h2 {
  color: #dbdbdb;
  padding: 0.2rem 0;
  text-shadow: none;
}

div.component {
  padding: 2vh 1vw;
  margin: 1vh auto;
}

div.education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.education img.edu-picture {
  width: 80px;
  margin: 0 1.5vw 0 calc(3rem + 4vw);
}

div.education div.label {
  padding: 0;
  margin: 0;
  margin-left: 0.5rem;
  font-size: calc(0.1vw + 14px);
  color: inherit;
}

div.education h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  color: inherit;
  text-shadow: none;
}

@media screen and (max-width: 600px) {
  div.education {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1vh;
  }
  div.education img.edu-picture {
    margin: 2vh auto;
  }
}

h1.title {
  padding: 1rem 4rem 0 4rem;
  border-bottom: solid #2ae7e7 3px;
}

div.technology ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1vh 4vw;
}

div.technology ul li {
  margin: 0.2rem;
  padding: 0.5rem 1.2rem;
  list-style-type: none;
  background-color: #201A1A;
  color: #dbdbdb;
  border-radius: 5%;
  border: 1px solid #dbdbdb;
  font-size: calc(0.2vw + 16.5px);
}

div.technology ul li:hover {
  background-color: #2ae7e7;
  color: #201A1A;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

div.download {
  width: 300px;
  margin: 2rem auto;
  padding: 1rem 2rem;
  text-align: center;
  list-style-type: none;
  background-color: #2ae7e7;
  color: #201A1A;
  border-radius: 5%;
  border: 1px solid #dbdbdb;
  font-size: calc(0.2vw + 16.5px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

div.download:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

div.summary li {
  margin: .5vh 3vw;
  font-size: calc(0.1vw + 14px);
}

div.experience div.roles {
  margin-left: 1.5vw;
}

@media screen and (max-width: 600px) {
  div.experience div.roles {
    margin-left: 0;
  }
}

div.experience .company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.experience .company .company-detail {
  font-size: calc(0.1vw + 14px);
  text-align: end;
}

div.experience .company h2 {
  text-align: center;
}

@media screen and (max-width: 600px) {
  div.experience .company {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1vh;
  }
}

div.experience .role-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2vh 0 0 1.5vw;
  text-align: right;
}

div.experience .role-detail div {
  font-size: calc(0.1vw + 14px);
}

@media screen and (max-width: 600px) {
  div.experience .role-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1vh 1vw;
    margin: 1vh 0;
    text-align: center;
  }
}

div.experience .role-responsibility {
  margin-left: 3vw;
}

@media screen and (max-width: 600px) {
  div.experience .role-responsibility {
    margin: 1vh 0;
  }
}

div.experience .role-responsibility p {
  font-size: calc(0.1vw + 14px);
  padding: 0;
  margin: 1.5vh 1.5vw;
  line-height: calc(2vh + 0.7rem);
}

@media screen and (max-width: 600px) {
  div.experience .role-responsibility p {
    margin: 1vh 1vw;
  }
}

div.experience .role-responsibility p:first-child {
  margin-top: 0;
}

div.experience .role-responsibility ul {
  padding-left: calc(3vw + 1rem);
}

div.experience .role-responsibility li {
  padding-top: 0;
  font-size: calc(0.1vw + 14px);
}

div.experience .role-responsibility li:not(:first-child) {
  margin-top: 1vh;
}

h5, h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  background-color: transparent;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #dbdbdb;
}

h1 {
  color: #2ae7e7;
  font-size: calc(.5vw + 32px);
  padding: 1rem;
  text-shadow: 1.5px 1.5px #db8f71;
}

h3, h2 {
  padding: 1rem;
  text-shadow: 2px 2px #201A1A;
}

h2 {
  color: #2ae7e7;
  font-size: calc(.4vw + 27px);
}

h3 {
  font-size: calc(.3vw + 22.5px);
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}

.fade-transition {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.faded {
  -webkit-animation: fade-in 0.3s;
          animation: fade-in 0.3s;
  opacity: 1;
}

a {
  color: #dbdbdb;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
  background-color: #201A1A;
  color: #2ae7e7;
}

body {
  min-height: 100vh;
  background-color: #201A1A;
  color: #dbdbdb;
}

img {
  width: 25vh;
  border: 1px solid #dbdbdb;
}

img:hover {
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 600px) {
  img {
    border-width: .1rem;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: auto;
  min-height: calc(100vh - 4rem);
}

main .intro {
  text-align: center;
}

main .intro img {
  width: 32vh;
  border-radius: 100%;
  border-width: 5px;
  border-color: #2ae7e7;
}

main .intro h1 {
  font-size: calc(1.5vw + 38px);
}

main p {
  padding: 1rem;
  font-size: calc(0.2vw + 16.5px);
  width: 100%;
}

@media screen and (max-width: 600px) {
  main p.intro {
    display: none;
  }
}
