
/* 
65DEF1 - blue
0A8754 - green
F25F5C - reddish (opal)
*/

* {
    box-sizing: border-box;
}
header{
    fill: #F25F5C;
    background-color: #65def1;
    background-image: url(circles.svg);
    background-size: 1%;
    /* url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 0C6.716 0 0 6.716 0 15c8.284 0 15-6.716 15-15zM0 15c0 8.284 6.716 15 15 15 0-8.284-6.716-15-15-15zm30 0c0-8.284-6.716-15-15-15 0 8.284 6.716 15 15 15zm0 0c0 8.284-6.716 15-15 15 0-8.284 6.716-15 15-15z' fill='%23f25f5c' fill-opacity='0.21' fill-rule='evenodd'/%3E%3C/svg%3E"); */
    height: 200px;
}

html {
    background-image: linear-gradient(#ccc, #555);
    background-repeat: no-repeat;
    min-height: 100%;
}

body {
    color: #333333;   
}
.content{
    width: 50%;
    margin: auto;
}

li{
    min-width: 200px;
}
nav{
    background-image: linear-gradient(to right, #888888, #222222, #888888, #222222,#888888);
    position: sticky;
    top:0;
    padding: 10px;
    border-radius: 1vh;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;   
    justify-content: space-around;
    align-content: center;
}
nav li a{
    background-color:purple;    
    border: 1px solid white;
    display: block;
    color: #dddddd;
    padding: 5px 10px;
    font-size: 25px;   
    text-decoration: none; 
    width: 100%;
    text-align: center;
    margin: 0;
    border-radius: 1vh;
}
a:hover{
    transition-duration: 1s;
    background-color: black;
    font-weight: bold;
    border-color: white;
}