:root {
  --colorPrimaryRGB: 42, 231, 231;
  --colorPrimary: rgb(var(--colorPrimaryRGB));
  --colorPrimDarkRGB: 0, 130, 130;
  --colorPrimDark: rgb(var(--colorPrimDarkRGB));
  --colorSecondRGB: 219, 143, 113;
  --colorSecond: rgb(var(--colorSecondRGB));
  --colorBackgroundRGB: 32, 26, 26;
  --colorBackground: rgb(var(--colorBackgroundRGB));
  --colorTextRGB: 219, 219, 219;
  --colorText: rgb(var(--colorTextRGB));
}

splash-screen {
  color: var(--colorPrimary);
  fill: var(--colorBackground);
  background-color: black;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 150;
  left: 0;
  overflow: hidden;
}
splash-screen.splash-complete {
  opacity: 0;
  z-index: -100;
  visibility: hidden;
  transition: all 1s ease-in-out;
}

back-ground {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -100;
}
back-ground canvas {
  color: var(--colorPrimary);
  opacity: 0.05;
  width: 100%;
  height: 100%;
  z-index: -100;
}

nav-bar .menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: var(--colorBackground);
  padding: 0;
  top: 0;
  left: 0;
  z-index: 100;
}
nav-bar .menu.open {
  background-color: transparent;
}
nav-bar .menu .name.open {
  visibility: hidden;
}
nav-bar .menu .name a {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--colorPrimary);
}
nav-bar .menu h2 {
  color: var(--colorPrimary);
  font-size: calc(0.2vw + 17px);
  margin-left: 2.5vw;
}
nav-bar .menu h2:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.05, 1.05);
}
nav-bar .menu svg {
  margin-left: 2.5vw;
  height: calc(0.8vw + 30px);
  width: auto;
  border: none;
  max-height: 80%;
  min-height: 50%;
  fill: var(--colorPrimary);
}
nav-bar .menu svg:hover {
  transition: all 0.2s ease-in-out;
  transform: rotate(120deg);
}
nav-bar .menu-options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
}
nav-bar .menu-options .lightmode {
  width: calc(0.7vw + 18px);
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav-bar .menu-options .lightmode svg {
  width: 100%;
  height: 100%;
  margin: 0;
}
nav-bar .menu-options .lightmode svg:hover {
  transition: all 0.3s ease-in-out;
  transform: rotate(360deg);
}
nav-bar .menu-btn {
  margin: 0 calc(10px + 1vw);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 50;
}
nav-bar .menu-btn:hover {
  transform: scale(1.1, 1);
}
nav-bar .menu-btn__burger {
  width: 100%;
  height: 2.5px;
  background: var(--colorPrimary);
  transition: all 0.3s ease-in-out;
}
nav-bar .menu-btn__burger::before, nav-bar .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px;
  background: var(--colorPrimary);
  transition: all 0.3s ease-in-out;
}
nav-bar .menu-btn__burger::before {
  transform: translateY(-9px);
}
nav-bar .menu-btn__burger::after {
  transform: translateY(9px);
}
nav-bar .menu-btn.open .menu-btn__burger {
  transform: rotate(270deg);
  background: transparent;
  box-shadow: none;
}
nav-bar .menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg);
  background: var(--colorBackground);
}
nav-bar .menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg);
  background: var(--colorBackground);
}
nav-bar nav {
  position: fixed;
  height: 100%;
  width: 0px;
  top: 0px;
  background-color: var(--colorPrimary);
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
nav-bar nav ul {
  visibility: hidden;
  display: flex;
  list-style-type: none;
  margin: 0;
  height: 100vh;
  width: 50%;
  margin: auto;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
nav-bar nav li {
  width: 100%;
  max-width: 500px;
  text-align: center;
}
nav-bar nav li:hover {
  transition: all 0.3s ease-in-out;
  border-bottom: 7px solid var(--colorSecond);
}
nav-bar nav li a {
  display: block;
  background-color: inherit;
  color: var(--colorBackground);
  font-size: calc(0.5vw + 32px);
  width: 100%;
}
nav-bar nav.open {
  height: 100vh;
  width: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
nav-bar nav.open ul {
  visibility: visible;
  transition-delay: 0.2s;
}

footer-comp footer {
  flex-shrink: 0;
  z-index: 0;
  width: 100%;
  bottom: 0;
  height: 4rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--colorPrimary);
}
footer-comp footer ul li {
  list-style: none;
  display: inline;
  font-size: calc(0.2vw + 17px);
}
footer-comp footer ul li a {
  margin: 0 1.051vw;
  color: var(--colorBackground);
  text-decoration: none;
}
footer-comp footer ul li a:hover {
  padding-bottom: 0.7rem;
  box-shadow: inset 0 -0.3rem 0 0 var(--colorSecond);
}
footer-comp footer .social-row li {
  font-size: calc(0.25vw + 18px);
}
footer-comp footer .social-row li a {
  margin: 0 1vw;
}

section.resume {
  width: 100%;
}
section.resume h2 {
  color: var(--colorText);
  padding: 0.2rem 0;
  text-shadow: none;
}

div.component {
  padding: 2vh 1vw;
  margin: 1vh auto;
  transition: none;
}

div.education {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
div.education img.edu-picture {
  width: 80px;
  margin: 0 1.5vw 0 calc(3rem + 4vw);
}
div.education div.label {
  padding: 0;
  margin: 0;
  margin-left: 0.5rem;
  font-size: calc(0.1vw + 15.5px);
  color: inherit;
}
div.education h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  color: inherit;
  text-shadow: none;
  text-align: center;
}
@media screen and (max-width: 600px) {
  div.education {
    flex-direction: column;
    padding: 1vh;
  }
  div.education img.edu-picture {
    margin: 2vh auto;
  }
}

h1.title {
  padding: 1rem 4rem 0 4rem;
  border-bottom: solid var(--colorPrimary) 3px;
}

div.technology ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1vh 4vw;
}
div.technology ul li {
  margin: 0.2rem;
  padding: 0.5rem 1.2rem;
  list-style-type: none;
  background-color: var(--colorBackground);
  color: var(--colorText);
  border-radius: 5%;
  border: 1px solid var(--colorText);
  font-size: calc(0.2vw + 17px);
}
div.technology ul li:hover {
  background-color: var(--colorPrimary);
  color: var(--colorBackground);
  transition: all 0.6s ease-in-out;
}

div.download {
  width: 300px;
  margin: 2rem auto;
  padding: 1rem 2rem;
  text-align: center;
  list-style-type: none;
  background-color: var(--colorPrimary);
  color: var(--colorBackground);
  border-radius: 5%;
  border: 1px solid var(--colorText);
  font-size: calc(0.2vw + 17px);
  transition: all 0.3s ease-in-out;
}
div.download:hover {
  transform: scale(1.05, 1.05);
  transition: all 0.3s ease-in-out;
}

div.summary li {
  margin: 0.5vh 3vw;
  font-size: calc(0.1vw + 15.5px);
}

div.experience div.roles {
  margin-left: 1.5vw;
}
@media screen and (max-width: 600px) {
  div.experience div.roles {
    margin-left: 0;
  }
}
div.experience .company {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
div.experience .company .company-detail {
  font-size: calc(0.1vw + 15.5px);
  text-align: end;
}
div.experience .company h2 {
  text-align: center;
}
@media screen and (max-width: 600px) {
  div.experience .company {
    flex-direction: column;
    padding: 1vh;
  }
}
div.experience .role-detail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 0 0 1.5vw;
  text-align: right;
}
div.experience .role-detail div {
  font-size: calc(0.1vw + 15.5px);
}
@media screen and (max-width: 600px) {
  div.experience .role-detail {
    flex-direction: column;
    padding: 1vh 1vw;
    margin: 1vh 0;
    text-align: center;
  }
}
div.experience .role-responsibility {
  margin-left: 3vw;
}
@media screen and (max-width: 600px) {
  div.experience .role-responsibility {
    margin: 1vh 0;
  }
}
div.experience .role-responsibility p {
  font-size: calc(0.1vw + 15.5px);
  padding: 0;
  margin: 1.5vh 1.5vw;
  line-height: calc(2vh + 0.7rem);
}
@media screen and (max-width: 600px) {
  div.experience .role-responsibility p {
    margin: 1vh 1vw;
  }
}
div.experience .role-responsibility p:first-child {
  margin-top: 0;
}
div.experience .role-responsibility ul {
  padding-left: calc(3vw + 1rem);
}
div.experience .role-responsibility li {
  padding-top: 0;
  font-size: calc(0.1vw + 15.5px);
}
div.experience .role-responsibility li:not(:first-child) {
  margin-top: 1vh;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.projects .project {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--colorBackground);
  border: 2px solid var(--colorPrimary);
  padding: 0;
  max-width: 900px;
  border-radius: 5px;
  margin: 5vh 5vw;
}
.projects .project:hover {
  transform: translate(2px, 2px);
  transition: all 0.2s ease-in-out;
  border-width: 3px;
}
.projects .project h2 {
  border-bottom: 3px solid var(--colorPrimary);
  padding: 0;
  margin: 2vh 2vw;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .projects .project h2 {
    margin: 0.5vh 0.5vw;
  }
}
.projects .project p {
  padding: 0;
  margin: 2vh auto;
  width: 90%;
  color: var(--colorText);
}
.projects .project svg {
  fill: var(--colorBackground);
  background-color: var(--colorPrimary);
  border-radius: 50%;
  height: calc(90px + 3vw);
  width: auto;
}
@media screen and (max-width: 600px) {
  .projects .project svg {
    display: none;
  }
}
.projects .project .proj-descr {
  width: 70%;
}
@media screen and (max-width: 600px) {
  .projects .project .proj-descr {
    width: 85%;
  }
}

p.instructions {
  font-size: calc(0.1vw + 15.5px);
  text-align: center;
}

#project-memory .grid {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#project-memory .card {
  position: relative;
  transition: all 0.4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}
#project-memory .card,
#project-memory .back,
#project-memory .front {
  height: 160px;
  width: 160px;
}
@media screen and (max-width: 1200px) {
  #project-memory .card,
  #project-memory .back,
  #project-memory .front {
    height: calc((100vw - 9rem) / 6);
    width: calc((100vw - 9rem) / 6);
  }
}
@media screen and (max-width: 600px) {
  #project-memory .card,
  #project-memory .back,
  #project-memory .front {
    height: calc((100vw - 9rem) / 4);
    width: calc((100vw - 9rem) / 4);
  }
}
#project-memory .back,
#project-memory .front {
  position: absolute;
  backface-visibility: hidden;
}
#project-memory .front {
  z-index: 2;
  background-color: var(--colorBackground);
  border: 5px solid var(--colorPrimary);
}
#project-memory .front:hover {
  background-color: var(--colorPrimary);
}
@media screen and (max-width: 1000px) {
  #project-memory .front {
    border-width: 3px;
  }
  #project-memory .front:hover {
    background-color: var(--colorBackground);
  }
}
@media screen and (max-width: 600px) {
  #project-memory .front {
    border-width: 2px;
  }
}
#project-memory .back {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#project-memory .selected {
  transform: rotateY(180deg);
}
#project-memory .match .front {
  background: transparent;
  border: none;
}
#project-memory p.thanks {
  font-size: calc(0.15vw + 10px);
  text-align: center;
}

#project-minesweeper {
  display: grid;
  grid-template-columns: repeat(10, 60px);
  grid-template-rows: repeat(10, 60px);
}
@media screen and (max-width: 1000px) {
  #project-minesweeper {
    grid-template-columns: repeat(10, 45px);
    grid-template-rows: repeat(10, 45px);
  }
}
@media screen and (max-width: 600px) {
  #project-minesweeper {
    grid-template-columns: repeat(10, 33px);
    grid-template-rows: repeat(10, 33px);
  }
}
#project-minesweeper .cell {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--colorBackground);
  font-size: calc(0.2vw + 17px);
  background-color: var(--colorPrimary);
  color: var(--colorBackground);
}
@media screen and (max-width: 1000px) {
  #project-minesweeper .cell {
    font-size: calc(0.1vw + 15.5px);
  }
}
#project-minesweeper .mine {
  background-color: var(--colorBackground);
  color: var(--colorSecond);
  border-color: var(--colorSecond);
}
#project-minesweeper .clearedmine {
  background-color: transparent;
  color: transparent;
  border: none;
}
#project-minesweeper .possiblemine {
  background-color: transparent;
  color: var(--colorPrimary);
  transition: all 0.1s ease-in-out;
  border: 1px solid var(--colorPrimary);
}

div.selector {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2vh 1vw;
}
div.selector #selector-on {
  fill: var(--colorPrimary);
}
div.selector #selector-off {
  fill: var(--colorSecond);
}
div.selector .toggle {
  margin-left: 1vw;
  display: none;
}
div.selector .on {
  display: block;
}

#particles {
  position: fixed;
  top: 4rem;
  z-index: -10;
  left: 0;
  height: calc(100% - 8rem);
  width: 100vw;
  background-color: var(--colorBackground);
  color: var(--colorPrimary);
}

#project-coin-flip {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: transform 1s ease-in;
  transform-style: preserve-3d;
}
#project-coin-flip svg {
  width: 75%;
  height: 75%;
  fill: var(--colorPrimary);
}
#project-coin-flip .side {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  backface-visibility: hidden;
  border: 10px double var(--colorPrimary);
}
#project-coin-flip .head {
  background-color: var(--colorBackground);
  z-index: 10;
}
#project-coin-flip .tail {
  background-color: var(--colorBackground);
  transform: rotateX(-180deg);
}
#project-coin-flip.flipHead {
  animation: resultHead 2s ease-out forwards;
}
#project-coin-flip.flipTail {
  animation: resultTail 2s ease-out forwards;
}
@keyframes resultHead {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(1800deg);
  }
}
@keyframes resultTail {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(1980deg);
  }
}

#project-sudoku {
  display: grid;
  grid-template-columns: repeat(3, 190px);
  grid-template-rows: repeat(3, 190px);
}
@media screen and (max-width: 1000px) {
  #project-sudoku {
    grid-template-columns: repeat(3, 142px);
    grid-template-rows: repeat(3, 142px);
  }
}
@media screen and (max-width: 600px) {
  #project-sudoku {
    grid-template-columns: repeat(3, 94px);
    grid-template-rows: repeat(3, 94px);
  }
}
#project-sudoku input {
  color: var(--colorBackground);
  border: 1px solid var(--colorBackground);
  background-color: var(--colorPrimary);
  margin: 1px;
  text-align: center;
  justify-content: center;
  caret-color: transparent;
  font-size: calc(0.2vw + 17px);
}
#project-sudoku input:invalid {
  color: var(--colorSecond);
  border-color: var(--colorSecond);
}
@media screen and (max-width: 600px) {
  #project-sudoku input {
    font-size: calc(0.1vw + 15.5px);
  }
}
#project-sudoku .inputGroup {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(3, 60px);
}
@media screen and (max-width: 1000px) {
  #project-sudoku .inputGroup {
    grid-template-columns: repeat(3, 45px);
    grid-template-rows: repeat(3, 45px);
  }
}
@media screen and (max-width: 600px) {
  #project-sudoku .inputGroup {
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(3, 30px);
  }
}
#project-sudoku .readonly {
  color: var(--colorText);
  background-color: transparent;
  border-color: var(--colorPrimary);
  font-size: calc(0.2vw + 17px);
}
@media screen and (max-width: 1000px) {
  #project-sudoku .readonly {
    font-size: calc(0.1vw + 15.5px);
  }
}
#project-sudoku .selected {
  background-color: var(--colorSecond);
  color: var(--colorBackground);
  border-color: var(--colorBackground);
}

#keypad {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 2vh auto;
  height: 60px;
}
@media screen and (max-width: 1000px) {
  #keypad {
    height: 145px;
    width: 145px;
  }
}
#keypad .key-element {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  caret-color: transparent;
  margin: 0 0.2vw;
  padding: 0;
  width: 60px;
  height: 100%;
  background-color: var(--colorBackground);
  color: var(--colorText);
  border: 2px solid var(--colorPrimary);
  text-align: center;
}
@media screen and (min-width: 1000px) {
  #keypad .key-element:hover {
    background-color: var(--colorPrimary);
    color: var(--colorBackground);
  }
}
@media screen and (max-width: 1000px) {
  #keypad .key-element {
    width: 45px;
    height: 30%;
    margin: 0;
  }
}
.typing {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 0;
  max-width: 900px;
  border-radius: 5px;
  margin: 5vh 5vw;
}
.typing #item-img {
  background-color: transparent;
}
.typing #item-img img {
  border: none;
  width: 18vh;
  background-color: transparent;
  margin: 5vh 5vw;
}
.typing input {
  width: calc(1.5vw + 38px);
  height: calc(1.5vw + 38px);
  text-align: center;
  margin: 5px;
  font-size: calc(0.4vw + 27px);
  color: var(--colorPrimary);
  background-color: var(--colorBackground);
  border: 1px solid var(--colorPrimary);
}
.typing input.solved {
  color: var(--colorBackground);
  background-color: var(--colorPrimary);
  outline: none;
  user-select: none;
}
.typing input.wrong {
  color: var(--colorBackground);
  background-color: var(--colorSecond);
}
@media screen and (max-width: 600px) {
  .typing input {
    width: calc(0.3vw + 22.5px);
    height: calc(0.3vw + 22.5px);
    font-size: calc(0.2vw + 17px);
    margin: 1px;
  }
}
.typing #result {
  font-size: calc(1.5vw + 38px);
  color: var(--colorText);
  background-color: transparent;
  margin: 1vh 0;
}
@media screen and (max-width: 600px) {
  .typing #result {
    font-size: calc(0.3vw + 22.5px);
  }
}

.sightword #buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  max-width: 900px;
  border-radius: 5px;
  margin: 5vh 5vw;
}
.sightword svg {
  height: calc(1.5vw + 38px);
  margin: 1vh 2.5vw;
  width: auto;
  border: none;
  max-height: 80%;
  min-height: 50%;
  fill: var(--colorPrimary);
}
.sightword svg:hover {
  transition: all 0.3s ease-in-out;
  transform: rotate(360deg);
}
.sightword h1 {
  text-align: center;
  margin: 4vh 2vw;
}
.sightword #wrong {
  fill: var(--colorSecond);
}
.sightword #result {
  text-align: center;
  font-size: calc(0.3vw + 22.5px);
}
@media screen and (max-width: 600px) {
  .sightword #result {
    font-size: calc(0.2vw + 17px);
  }
}
.sightword #word {
  font-size: calc(1.5vw + 38px);
  color: var(--colorText);
  background-color: var(--colorBackground);
  border: 1px solid var(--colorPrimary);
  padding: 1vh 3vw;
  margin: 1vh 1vw;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .sightword #word {
    font-size: calc(0.3vw + 22.5px);
  }
}

game-victory {
  color: var(--colorPrimary);
  fill: transparent;
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 150;
  left: 0;
  overflow: hidden;
}
game-victory.game-complete {
  opacity: 0;
  visibility: hidden;
}

.math #buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  max-width: 900px;
  border-radius: 5px;
  margin: 5vh 5vw;
}
.math svg {
  height: calc(1.5vw + 38px);
  margin: 1vh 2.5vw;
  width: auto;
  border: none;
  max-height: 80%;
  min-height: 50%;
  fill: var(--colorPrimary);
}
.math svg:hover {
  transition: all 0.3s ease-in-out;
  transform: rotate(360deg);
}
.math h1 {
  text-align: center;
  margin: 4vh 2vw;
}
.math input {
  width: calc(1.5vw + 38px);
  height: calc(1.5vw + 38px);
  text-align: center;
  margin: 5px;
  font-size: calc(0.4vw + 27px);
  color: var(--colorPrimary);
  background-color: var(--colorBackground);
  border: 1px solid var(--colorPrimary);
}
@media screen and (max-width: 600px) {
  .math input {
    width: calc(0.3vw + 22.5px);
    height: calc(0.3vw + 22.5px);
    font-size: calc(0.2vw + 17px);
    margin: 1px;
  }
}
.math #mathresult {
  text-align: center;
  font-size: calc(0.3vw + 22.5px);
}
@media screen and (max-width: 600px) {
  .math #mathresult {
    font-size: calc(0.2vw + 17px);
  }
}
.math #mathproblem {
  font-size: calc(1.5vw + 38px);
  color: var(--colorText);
  background-color: var(--colorBackground);
  border: 1px solid var(--colorPrimary);
  padding: 1vh 3vw;
  margin: 1vh 1vw;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .math #mathproblem {
    font-size: calc(0.3vw + 22.5px);
  }
}

#roster {
  width: 40%;
  max-width: 350px;
  min-width: 250px;
  border: 2px var(--colorPrimary) solid;
  border-radius: 5px;
}
#roster .check {
  width: 25px;
  border: 1px var(--colorPrimary) solid;
}
#roster input {
  accent-color: var(--colorPrimary);
  color: var(--colorBackground);
}
#roster th {
  padding: 2px;
  background-color: var(--colorPrimary);
  color: var(--colorBackground);
  border: 2px var(--colorBackground) solid;
}
#roster td {
  text-align: center;
}
#roster .player-in {
  background-color: var(--colorPrimary);
  border: 3px var(--colorBackground) solid;
}
#roster .player {
  text-align: left;
  padding-left: 7%;
}
#roster .even.player-in {
  background-color: var(--colorPrimDark);
}

#calc {
  width: 100px;
  text-align: center;
  margin: 2vh auto;
  background-color: var(--colorPrimary);
  color: var(--colorBackground);
  border-radius: 5px;
  cursor: pointer;
}

h5, h6 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  background-color: transparent;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--colorText);
}

h1 {
  color: var(--colorPrimary);
  font-size: calc(0.5vw + 32px);
  padding: 1rem;
  text-shadow: 1.5px 1.5px var(--colorSecond);
}

h3, h2 {
  padding: 1rem;
  text-shadow: 2px 2px var(--colorBackground);
}

h2 {
  color: var(--colorPrimary);
  font-size: calc(0.4vw + 27px);
}

h3 {
  font-size: calc(0.3vw + 22.5px);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}
.fade-transition {
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.faded {
  animation: fade-in 0.3s;
  opacity: 1;
}

a {
  color: var(--colorText);
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover {
  background-color: var(--colorBackground);
  color: var(--colorPrimary);
}

body {
  min-height: 100vh;
  background-color: var(--colorBackground);
  color: var(--colorText);
}

img {
  width: 25vh;
  border: 1px solid var(--colorText);
}
img:hover {
  transform: scale(1.01, 1.01);
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 600px) {
  img {
    border-width: 0.1rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: auto;
  min-height: calc(100vh - 4rem);
}
main .intro {
  text-align: center;
}
main .intro img {
  width: 32vh;
  border-radius: 100%;
  border-width: 5px;
  border-color: var(--colorPrimary);
}
main .intro h1 {
  font-size: calc(1.5vw + 38px);
}
main p {
  padding: 1rem;
  font-size: calc(0.2vw + 17px);
  width: 100%;
}
@media screen and (max-width: 600px) {
  main p.intro {
    display: none;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}