back-ground{  
    position:absolute;  
    height: calc(100% - 4rem);
    width: 100%;    
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -10;
    
    canvas{
        background-color: $colorPrimary;
        opacity: 0.05;
        width: 100%;
        height: 100%;
        z-index: -10;
    }
}