game-victory{
    color: $colorPrimary;
    fill: transparent;
    background-color: transparent;

    height: 100%;
    width: 100%;
    
    position: fixed;
    top: 0;
    z-index: 150;
    left: 0;    
    overflow: hidden;

    &.game-complete{        
        opacity: 0;
        z-index: -100;   
        visibility: hidden;
        transition: all 2s ease-in-out;
    }
}