nav-bar{    
    .menu{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 4rem;
        background-color: transparent;
        padding:0px;
        // z-index: 100;
        top: 0;
        left: 0;

        .name{
            position: relative;
            z-index: 1;
        }

        .name a{

            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;   
            
            color: inherit;
            text-decoration: none;
        }

        h2{
            font-size: $fontSmall;
            margin-left: 2.5vw;
            transition: all 0.3s ease-in-out;
            &:hover{
                transition: all 0.3s ease-in-out;
               transform: scale(1.05,1.05)
            }
        }

        img{
            margin-left: 2.5vw;
            height: calc(2vw + 20px);
            max-height: 80%;
            min-height: 50%;
            &:hover{
                transition: all 0.2s ease-in-out;
                transform:rotate(120deg);
            }
        }
    }

    .menu-btn{  
        margin-right: 2.5vw;
        display: flex; 
        position: relative; 
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 100%;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        z-index: 50;
        &:hover{
            transform: scale(1.1,1.0);
        }
    }

    .menu-btn__burger{
        width: 100%;
        height: 2.5px;
        background: $colorText;
        border-radius: 5px;
        box-shadow: 0 2px 5px $colorShadow;
        transition: all 0.5s ease-in-out;    
        

        &::before, &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 2.5px;
            background: $colorText;
            border-radius: 10px;
            box-shadow: 0 2px 5px $colorShadow;
            transition: all 0.5s ease-in-out; 
        }

        &::before{
            transform: translateY(-10px);
        }

        &::after{
            transform: translateY(10px);
        }
    }

    .menu-btn.open .menu-btn__burger{
        transform:rotate(270deg);        
        background: transparent;
        box-shadow: none;
    }

    .menu-btn.open .menu-btn__burger::before{
        transform:rotate(45deg);
        background: $colorDark;
       
    }

    .menu-btn.open .menu-btn__burger::after{
        transform:rotate(-45deg);
        background: $colorDark;
    }

    nav{
        position:fixed;
        // visibility: hidden;
        height: 100%;
        width: 0px;
        top: 0px;
        background-color: $colorPrimary;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-in-out;
        // z-index: -10;
    }

    nav ul{
        visibility: hidden;
        display: flex;
        list-style-type: none;
        margin: 0;
        /* padding: 5%; */
        height: 100%;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;   
        justify-content: space-around;
        align-content: center;
    }

    nav.open{
        // visibility: visible;
        // overflow-y: hidden;
        height: 100vh;
        width: 100%;
        transition: all 0.5s ease-in-out;
        z-index: 10;
    }

    nav.open ul{
        visibility: visible;
        transition-delay: 0.2s;

    }

    nav li a{
        background-color: inherit;    
        color: $colorDark;
        padding: 5px 10px;
        font-size: $fontMed;   
        text-decoration: none; 
        width: 100%;
        text-align: center;
        margin: 0;
        transition: all 0.5s ease-in-out;

        &:hover{
            text-decoration: underline;                        
            transition: all 0.5s ease-in-out;
        }
    }
}