#project-minesweeper{   
    display: grid;
    grid-template-columns: repeat(10, 60px);
    grid-template-rows: repeat(10, 60px);

    @media screen and (max-width: $screenMed){
        grid-template-columns: repeat(10, 45px);
        grid-template-rows: repeat(10, 45px);
    }

    @media screen and (max-width: $screenSmall){
        grid-template-columns: repeat(10, 33px);
        grid-template-rows: repeat(10, 33px);
    }
 
    .cell{        
        @include flexBox(center);
        
        border: 1px solid $colorBackground;        
        font-size: $fontSmall;        
        background-color: $colorPrimary;
        color: $colorBackground;

        @media screen and (max-width: $screenMed){
            font-size: $fontXSmall;
        }
    }

    .mine{
        background-color: $colorBackground;
        color: $colorSecond;
        border-color: $colorSecond;
    }

    .clearedmine{
        background-color: transparent;
        color: transparent;        
        border: none;
    } 

    .possiblemine{
        background-color: transparent;
        color: $colorPrimary;
        transition: all 0.1s ease-in-out;
        border: 1px solid $colorPrimary;
    }

    
}

div.selector{   
    
    display: none;

    @media screen and (max-width: $screenMed){
        @include flexBox(space-around);
    }

    margin: 2vh 1vw;
    #selector-on{
        fill: $colorPrimary;
    }

    #selector-off{
        fill: $colorSecond;
    }

    .toggle{
        margin-left: 1vw;
        display: none;        
    }

    .on{
        display: block;
    }
}



