#roster{
    width: 40%;
    max-width: 350px;
    min-width: 250px;
    // border-collapse: collapse;
    border: 2px $colorPrimary solid;
    border-radius: 5px;
    .check{
        width: 25px;
        border: 1px $colorPrimary solid;
    }

    input{
        // align-c $colorPrimary;
        accent-color: $colorPrimary;
        color: $colorBackground;
    }

    th{
        padding: 2px;
        background-color: $colorPrimary;
        color: $colorBackground;
        border: 2px $colorBackground solid;
    }

    td{
        text-align: center;
        
    } 

    // .qtr{
    //     border: none;
    // }

    .player-in{
        background-color: $colorPrimary;
        border: 3px $colorBackground solid;
    }

    .even{
        // background-color: $colorPrimDark;
        // color: $colorSecond;
        // border: 1px $colorSecond solid;
    }

    .even.player-in{
        background-color: $colorPrimDark;
        // border: 5px $colorSecond solid;
    }

    // border-radius: 5px;
    // border: 2px $colorPrimary solid;


}

#calc{
    width: 100px;
    text-align: center;
    // display: inline;
    margin: 2vh auto;
    background-color: $colorPrimary;
    color: $colorBackground;
    border-radius: 5px;
    cursor: pointer;

}