$gridSmall: 30px;
$gridMed: 45px;
$gridLarge: 60px;

#project-sudoku{
   

    display: grid;
    grid-template-columns: repeat(3, 190px);
    grid-template-rows: repeat(3, 190px);

    @media screen and (max-width: $screenMed){
        grid-template-columns: repeat(3, 142px);
        grid-template-rows: repeat(3, 142px);
    }

    @media screen and (max-width: $screenSmall){
        grid-template-columns: repeat(3, 94px);
        grid-template-rows: repeat(3, 94px);
    }

    input{
        color: $colorBackground;
        border: 1px solid $colorBackground;
        background-color: $colorPrimary;
        margin: 1px;
        text-align: center;
        justify-content: center;
        caret-color: transparent;
        font-size: $fontSmall;
       

        &:invalid{
            color: $colorSecond;
            border-color: $colorSecond;
        }

        @media screen and (max-width: $screenSmall){
            font-size: $fontXSmall;
        }
    }


    .inputGroup{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, $gridLarge);
        grid-template-rows: repeat(3, $gridLarge);

        @media screen and (max-width: $screenMed){
            grid-template-columns: repeat(3, $gridMed);
            grid-template-rows: repeat(3, $gridMed);
        }

        @media screen and (max-width: $screenSmall){
            grid-template-columns: repeat(3, $gridSmall);
            grid-template-rows: repeat(3, $gridSmall);
        }
    }

    .readonly{
        color: $colorText;
        background-color: transparent;
        border-color: $colorPrimary;
        font-size: $fontSmall;

        @media screen and (max-width: $screenMed){
            font-size: $fontXSmall;
        }
    }

    .selected{
        background-color: $colorSecond;
        color: $colorBackground;
        border-color: $colorBackground;
    }
}

#keypad{
    @include flexBox(space-between);
    flex-direction: row;
    margin: 2vh auto;
    // width: calc($gridLarge * 10);
    height: $gridLarge;

    @media screen and (max-width: $screenMed){
        height: $gridMed * 3 + 10px;
        width: $gridMed * 3 + 10px;
    }

    // @media screen and (max-width: $screenSmall){
    //     height: $gridSmall;            
    // }
    .key-element{
        @include flexBox(center);
        caret-color: transparent;
        margin: 0 .2vw;
        padding: 0;
        width: $gridLarge;
        height: 100%;
        background-color: $colorBackground;
        color: $colorText;
        border: 2px solid $colorPrimary;
        text-align: center;
        //font-size: $fontMed;

        @media screen and (min-width: $screenMed){
            &:hover{
                background-color: $colorPrimary;
                color: $colorBackground;
            }
        }
        

        @media screen and (max-width: $screenMed){
            width: $gridMed;
            height: 30%;
            margin: 0;
        }
    
        @media screen and (max-width: $screenSmall){
            // width: $gridSmall;            
        }

        
    
    }
}