section.resume{
       width: 100%;      
       h2{
           color: $colorText;
           padding: 0.2rem 0;
           text-shadow: none;
       }       
}

div.component{
    padding: 2vh 1vw;
    margin: 1vh auto;
    //background-color: $colorText;  
    //border: 1px solid $colorBackground;
    //color: $colorBackground;
}

div.education{
    @include flexBox(flex-start);

    img.edu-picture{
        width: 80px;
        margin: 0 1.5vw 0 calc(3rem + 4vw);
    }

    div.label{
        padding: 0;
        margin: 0;
        margin-left: 0.5rem;
        font-size: $fontXSmall;
        color:inherit;
    }
    h3{
        padding: 0;
        margin: 0;
        margin-bottom: 0.5rem;
        color:inherit;
        text-shadow: none;
    }

    @media screen and (max-width: $screenSmall){
        flex-direction: column;

        padding: 1vh;
        img.edu-picture{            
            margin: 2vh auto;
        }  
    }
}

h1.title{    
        padding: 1rem 4rem 0 4rem;
        border-bottom: solid $colorPrimary 3px;        
}

div.technology{
    ul{
        @include flexBox(flex-start);
        margin: 1vh 4vw;
        li{
            margin: 0.2rem;
            padding: 0.5rem 1.2rem;
            list-style-type: none;
            background-color: $colorBackground;
            color: $colorText;
            border-radius: 5%;
            border: 1px solid $colorText;
            font-size: $fontSmall;

            &:hover{
                background-color: $colorPrimary;
                color: $colorBackground;
                transition:all .6s ease-in-out;
            }
        }
    }
}

div.download{
    width: 300px;
    margin: 2rem auto;
    padding: 1rem 2rem;
    text-align: center;
    list-style-type: none;
    background-color: $colorPrimary;
    color: $colorBackground;
    border-radius: 5%;
    border: 1px solid $colorText;
    font-size: $fontSmall;
    transition: all 0.3s ease-in-out;
    &:hover{
        transform: scale(1.05, 1.05);     
        transition: all 0.3s ease-in-out;
    }
}

div.summary{
    li{
      margin: .5vh 3vw; 
      font-size: $fontXSmall; 
    }
}

div.experience{
    div.roles{
        margin-left: 1.5vw;
        @media screen and (max-width: $screenSmall){
            margin-left: 0;
        }
    }

    .company{
        @include flexBox(space-between);

        .company-detail{
            font-size: $fontXSmall;
            text-align: end;
        }

        h2{
            text-align: center;
        }

        @media screen and (max-width: $screenSmall){
            flex-direction: column;    
            padding: 1vh;
        }
    }
    
    .role-detail{
        @include flexBox(space-between);
        margin: 2vh 0 0 1.5vw;
        text-align: right;
        div{
            font-size: $fontXSmall;
        }

        @media screen and (max-width: $screenSmall){
            flex-direction: column;    
            padding: 1vh 1vw;
            margin: 1vh 0;
            text-align: center;            
        }
    }

    .role-responsibility{
        margin-left:3vw;

        @media screen and (max-width: $screenSmall){
            margin: 1vh 0;        
        }

        p{
            font-size: $fontXSmall;
            padding: 0;
            margin: 1.5vh 1.5vw;
            line-height: calc(2vh + 0.7rem);
            
            @media screen and (max-width: $screenSmall){
                margin: 1vh 1vw;        
            }

            &:first-child{
                margin-top: 0;
            }

        }

        ul{
            padding-left: calc(3vw + 1rem);

        }

        li{
            padding-top: 0;
            font-size: $fontXSmall;
        }        
        li:not(:first-child){
            margin-top: 1vh;
            
        }
    }
}


