splash-screen{
    color: $colorPrimary;
    fill: $colorBackground;
    background-color: black;

    height: 100%;
    width: 100%;
    
    position: fixed;
    top: 0;
    z-index: 150;
    left: 0;    
    overflow: hidden;

    &.splash-complete{        
        opacity: 0;
        z-index: -100;   
        visibility: hidden;
        transition: all 1s ease-in-out;
    }
}
