$colorPrimary: #2ae7e7;
$colorSecond: rgb(219, 143, 113);// rgb(236, 189, 255);
$colorBackground: #152020;
$colorText: #dbdbdb;

$screenSmall: 600px;
$screenMed: 1000px;

$fontXLarge: calc(2.5vw + 30px);
$fontLarge: calc(1.8vw + 25px);
$fontMed: calc(1.0vw + 20px);
$fontSmall: calc(0.4vw + 13px);
$fontXSmall: calc(0.3vw + 10px);

@mixin flexBox($justify) {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: $justify;
    align-items: center;    
}